<div style="min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
    <h1 style="font-size: 70px;" class="fw-bolder">404</h1>
      <img style="width: 400px; height: 280px;" src="https://cdn.svgator.com/images/2024/04/electrocuted-caveman-animation-404-error-page.gif" alt="" />
      <h1 class='fw-bolder mb-2'>Looks like you'r Lost.</h1>
      <p class='mb-2'>The page you are looking for is not available.</p>
      <button (click)="redirect()" class="btn btn-success">Home</button>
    </div>
